# Dependencias
node_modules/
__pycache__/
*.pyc
.venv/
venv/

# Build
frontend/dist/
java-service/target/
*.jar
!java-service/mvnw.jar

# IDE
.idea/
.vscode/*
!.vscode/settings.json
*.iml

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
